
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    
    </head>
    <body>
    <!-- app/views/comments/index.html.erb -->


<div id="comments-container">
 
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script >
// comments.js
$(document).ready(function() {
    
  var project_id = <%= @project.id %>;
  var task_id = <%= @task.id %>;

  var url = '/projects/' + project_id + '/tasks/' + task_id + '/comments';

  $.ajax({
    type: 'GET',
    url: url,
    dataType: 'html',
    success: function(data) {
      $('#comments-container').html(data);
    },
    error: function(xhr, status, error) {
      console.error('Error fetching comments:', error);
    }
  });
});
</script>
</body>
</html>