<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
<h1>Projects</h1>
</head>
<body>

  
  <div id="calendar"></div>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    var tasks = <%= raw @tasks.to_json %>;

    $('#calendar').fullCalendar({
      events: tasks.map(function (task) {
        return {
          title: task.title,  // Adjust as needed
          start: task.due_date,
        };
      }),
    });
  });
</script>
</body>
</html>